:root {
/* Fonts */  

/* Text collors */
--basic-text-color: #757575;
--title-text-color: #212121;
--secondary-text-color: #FFFFFF;
--accent-text-color: #2196F3;

/* Background collors */
--main-background-color: #FFFFFF;
--banner-background-color: #2F303A;
--banner-background-color-80: #2F303ACC;
--team-background-color: #F5F4FA;
--accent-background-color: #2196F3;
--accent-background-color-90: #2196F3E5;
--list-project-color: #EEEEEE;

/* Other */
--social-icon: #AFB1B8;
--transition-duration: 1250ms;
--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
--modal-label-border-20: #21212133;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    color: var(--basic-text-color);
}

/* reset */

.nav__link,
.contacts__link,
.logo, 
.adress__link-light,
.adress__link-dark {
    text-decoration: none;   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**
  |============================
  | index.html
  |============================
*/

/* header */

.header {    
    height: 80px;
    display: flex;    
    border-bottom: 1px solid var(--list-project-color);
}

/* container */

.container {   
    margin-left: auto;
    margin-right: auto;    
    padding-right: 15px;   
    padding-left: 15px;
    width: 1200px;
}

.container__header {
    display: flex;   
}

.container__footer {
    display: flex;
    align-items: baseline;
}

/* section */

.section {
    padding: 94px 0;
}

.section--no-padding-top {
    padding-top: 0;
}

.section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.section--ather-background {
    background-color: var(--team-background-color);
}

/* logo */

.logo {    
    font-family: 'Raleway', sans-serif;    
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.logo__black {    
    color: #000000;
}

.logo__white {
    color: var(--secondary-text-color);
}

/* navigation */

.nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.nav__list {  
    margin-left: 91px;  
    padding-left: 0px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav__item {    
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em; 
    position: relative;
}

.nav__link {
    color: var(--title-text-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-text-color);
}

.nav__link--active {
    color: var(--accent-text-color);
}

.nav__link--active::after {
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: var(--accent-background-color);
}

/* contacts */

.contacts {
    display: flex;
    gap: 50px;
    align-items: center;
}

.contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--basic-text-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-text-color);
}

.contacts__icons {
    fill: currentColor;
    margin-right: 10px;
}

/* banner */

.section-banner {   
    padding: 200px 0;    
    max-width: 1600px;   
    margin-left: auto;
    margin-right: auto;
    background-color: var(--banner-background-color); 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/banner_background.jpg); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;    
}

.section-banner__subject {          
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

/* button */

.button {
    display: flex;
    margin-left: auto;
    margin-right: auto;   
    height: 50px;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    border-radius: 4px;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--secondary-text-color);
    background-color: var(--accent-background-color);
}

.button--width-banner {       
    width: 216px;   
}

.button--width-footer {
    width: 200px;
}

.button--margin-footer-icon {
    margin-left: 10px;
}

.button--width-modal {
    width: 200px;
}

/* benefits */

.benefits {    
    display: flex;
    padding-left: 0px;
    gap: 30px;       
}

.benefits__item {
    width: 270px;   
}

.benefits__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--team-background-color);
    margin-bottom: 30px;
}

.benefits__title {   
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.benefits__text {      
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;    
}

/* work */

.work {    
    display: flex;
    padding-left: 0px;
    margin: 0;
    gap: 30px;
}

.work__item {
   position: relative; 
}

.work__box {
    position: absolute;    
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--banner-background-color-80);
    width: 370px;
    height: 70px;
}

.work__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);    
}

/* team */

.team {    
    padding-left: 0px;
    margin: 0;
    display: flex;
    gap: 30px;    
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__description {
    padding: 30px 0; 
    background-color: var(--main-background-color);   
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;  
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.team__text {   
    margin-bottom: 16px;   
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
}

/* social */

.social-list {
    display: flex; 
    justify-content: center;
    gap: 10px;
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 44px;
    height: 44px;
    color: var(--social-icon);
    background-color: var(--main-background-color); 
    border-radius: 50%;
    transition-property: color, background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.social-list__icon {
    fill: currentColor;
}
.social-list__link:hover,
.social-list__link:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-background-color);
}

.social-list__footer {
    color: var(--secondary-text-color);
    background-color: #FFFFFF1A;
}

/* client */

.client {
    display: flex;
    gap: 30px;
}

.client__item {
    width: 170px;
    height: 92px;
}
.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
    border: 1px solid var(--social-icon);
    border-radius: 4px;
    fill: var(--social-icon);
    transition-property: fill, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}
.client__link:hover,
.client__link:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
}

/* footer */

.footer {   
    padding: 60px 0;    
    background-color: var(--banner-background-color);
}

.footer__left-part {
    flex-grow: 1;
    margin-right: 70px;
}

.footer__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

/* adress */

.adress {
    margin-top: 20px;
}

.adress__list {        
    display: flex;
    gap: 9px;
    flex-direction: column;
    font-style: normal;
    list-style: none;
}

.adress__item {
    height: 21px;   
}

.adress__link-light,
.adress__link-dark {
    color: var(--secondary-text-color);    
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.adress__link-dark {    
    color: rgba(255, 255, 255, 0.6);    
}

/* register-email */

.register-email {
    margin-left: 93px;
}

.register-email__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.register-email__box {
    display: flex;
}

.register-email__label {
    margin-right: 12px;
}

.register-email__input {
    width: 358px;
    height: 50px;
    border: 1px solid #FFFFFF4D;    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 16px;
}

.register-email__input::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: #FFFFFF99;
}

.register-email__input:focus {
    color: var(--secondary-text-color);
}

/* modal window */

.backdrop {        
    position: fixed;
    top: 0;
    left: 0;   
    width: 100%;
    height: 100%;  
    transition-property: opacity, visibility; 
    background-color: #00000033;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;    
}

.backdrop__modal {    
    position: absolute;     
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);  
    width: 528px;
    height: 581px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);   
    background-color: var(--main-background-color);
}

.backdrop__button {
    position: absolute;
    top: 8px;
    right: 8px;    
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;    
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
}

.backdrop__button:hover .backdrop__icon,
.backdrop__button:focus .backdrop__icon {
    fill: var(--accent-text-color);

    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

/* backdrop-register */

.backdrop-register {
    padding: 40px;
}

.backdrop-register__title {
    display: block;   
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.backdrop-register__group {
    margin-bottom: 20px;
}

.backdrop-register__label {
    display: block;   
    margin-bottom: 10px;
    position: relative;
}

.backdrop-register__label--marggin {
    margin: 0;
}

.backdrop-register__subject {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.backdrop-register__input {  
    width: 100%;  
    height: 40px;   
    padding: 12px 42px;     
    border: 1px solid var(--modal-label-border-20);
    border-radius: 4px;
    outline: transparent; 
     
    transition-property: border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.backdrop-register__input:focus {
    border: 1px solid var(--accent-text-color);
}

.backdrop-register__input:focus + .backdrop-register__icon {
    fill: var(--accent-text-color);
}

.backdrop-register__icon {
    position: absolute;    
    top: 70%;
    left: 15px;
    transform: translateY(-70%);
    
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);    
}

.backdrop-register__textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    outline: transparent;
    border: 1px solid var(--modal-label-border-20);
    border-radius: 4px;
    
    transition-property: border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.backdrop-register__textarea::placeholder {
    color: #75757580;
}

.backdrop-register__textarea:focus {
    border: 1px solid var(--accent-text-color);
}

.backdrop-register__box {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 30px;
    gap: 7px;
}

.backdrop-register__checked {
    opacity: 1;
    transform: opacity var(--transition-duration);
}

.backdrop-register__checkbox:checked+.backdrop-register__checkbox-icon .backdrop-register__checked {
    opacity: 0;
}

.backdrop-register__unchecked {
    opacity: 0;
    transition-duration: var(--transition-duration);
}

.backdrop-register__checkbox:checked+.backdrop-register__checkbox-icon .backdrop-register__unchecked {
    opacity: 1;
}

.backdrop-register__heading {

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    user-select: none;
}

.backdrop-register__doc {
    text-decoration-line: underline;    
    color: var(--accent-text-color);
}

/**
  |============================
  | portfolio.html
  |============================
*/

/* main-portfolio */

.main-portfolio {
    display: flex;            
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.main-portfolio__button {
    border-radius: 4px;
    border: 0px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--team-background-color);
    color: var(--title-text-color);
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.main-portfolio__button:hover,
.main-portfolio__button:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

/* cards-portfolio */

.cards-portfolio {      
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;    
}

.cards-portfolio__project {        
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;     
}

.cards-portfolio__link {
    text-decoration: none;    
}

.cards-portfolio__link:hover .cards-portfolio__box,
.cards-portfolio__link:focus .cards-portfolio__box {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-portfolio__link:hover .overlay-portfolio,
.cards-portfolio__link:focus .overlay-portfolio {
    transform: translateY(0);
}

.cards-portfolio__box {
    transition-property: box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.cards-portfolio__box-title {
    padding: 20px 24px;    
    border-bottom: 1px solid var(--list-project-color);
    border-right: 1px solid var(--list-project-color);
    border-left: 1px solid var(--list-project-color);
}

.cards-portfolio__box-subject {  
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.cards-portfolio__box-text {    
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em; 
    color: var(--basic-text-color);   
}

.cards-portfolio__tumb {
    position: relative;
    overflow: hidden;
}

/* overlay-portfolio */

.overlay-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    background-color: var(--accent-background-color-90);   
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);   
}

.overlay-portfolio__desc {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

