/* contacts */

.contacts {
    display: flex;
    gap: 50px;
    align-items: center;
}

.contacts__item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--basic-text-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.contacts__icons {
    fill: currentColor;
    margin-right: 10px;
}

