/* reset */

.nav__link,
.contacts__link,
.logo,
.adress__link-light,
.adress__link-dark {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}