:root {
    /* Fonts */

    /* Text collors */
    --basic-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-text-color: #2196F3;

    /* Background collors */
    --main-background-color: #FFFFFF;
    --banner-background-color: #2F303A;
    --banner-background-color-80: #2F303ACC;
    --team-background-color: #F5F4FA;
    --accent-background-color: #2196F3;
    --accent-background-color-90: #2196F3E5;
    --list-project-color: #EEEEEE;

    /* Other */
    --social-icon: #AFB1B8;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --modal-label-border-20: #21212133;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    color: var(--basic-text-color);
}